<!-- Footer -->
<footer class="page-footer font-small  teal pt-4 d-flex flex-column justify-content-center ">

  <div class="container-fluid text-center text-md-left  ">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

        <h5 class="text-uppercase font-weight-bold">About Us</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>

      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-6 mb-md-0 mb-3">

        <h5 class="text-uppercase font-weight-bold">Contact</h5>
        <p>nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>

    </div>

  </div>

  <div class="footer-copyright text-center py-3 mt-1">© 2020 Copyright:
    <a >wondeshi.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->