<div class="form">
	<h3> Add New Post </h3>
<form action='/posts/add' method="POST" class="form">
	<div class="row">
	    <div class="col-25">
	      <label for="title">Title: </label>
	    </div>
	    <div class="col-75">
	      <input type="text" id="title" name="title" placeholder="Your Title ...">
	    </div>
  	</div>
	<div class="row">
	    <div class="col-25">
	      <label for="description">Description: </label>
	    </div>
	    <div class="col-75">
	      <input type="text" id="description" name="description" placeholder="Your Description...">
	    </div>
 	 </div>
	<a href="/" class="btn"> Go Back </a> 
	<input type="submit" class="btn" value="Add Post"></input>
</form>


</div>