<div class="wrapper">
    <div class="row">
    	<div class="col-md-8">
    		<div class="panel panel-default">
			  
			  
			    	<form class="form-horizontal form" action="/auth/loginpassport" method="POST">
					</br> </br></br>
			    	<h3 class="panel-title">Login </h3>
                     <hr/>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="yourmail@example.com" name="email" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
                      <hr/>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    <center><h4>OR</h4></center>
                    <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via facebook">
			    	
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>