<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
      
    </head>
<body>
    <header>
       
    </header>

<h2>Currency Converter </h2>
<%- include('partials/header') %>

<div>
    <h3>Amount :   <%= amountNew.amount %></h3>
    <h3>Des Currency:  <%= amountNew.currency %></h3>
</div>
<footer>
    
</footer>
</body>
</html>